@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:wght@300&family=Raleway+Dots&display=swap');

:root {
  --neon-text-color: #FC05F8;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  font-weight: bold;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

#header {
  /* gradiet Varaiable */
  --gradient: linear-gradient(45deg, #ffffff, #888888, #999999, #aaaaaa, #bbbbbb, #cccccc, #dddddd, #eeeeee, #ffffff);
  background-image:var(--gradient);
  background-size: 600%;
  background-position: left;
  animation: grad-bg 30s infinite alternate;
}

@keyframes grad-bg {
  0%{
      background-position: left;
  }
  100%{
      background-position: right;
  }
}

#currentDay {
  border: #333333 dotted 1px;
  border-radius: 1rem;
  padding: 5px;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  padding-top: 25px;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

footer {
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
  margin-top: 25px;
  width: 100%;
  text-align: center;
  background-color: #000000;
  color: white;
  border-radius: 6rem 2rem;
}

.shadow {
  text-shadow: 3px 3px rgb(0, 0, 0)
}

.glow {
  color: #fff;
  -webkit-animation: glow 4s ease-in-out infinite alternate;
  -moz-animation: glow 4s ease-in-out infinite alternate;
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
      text-shadow: 0 0 2px rgb(0, 0, 0), 0 0 4px #fff, 0 0 6px #FC05F8, 0 0 8px #FC05F8, 0 0 10px #FC05F8, 0 0 12px #FC05F8, 0 0 14px #FC05F8;
  }
  to {
      text-shadow: 0 0 4px #fff, 0 0 6px #4e0166, 0 0 8px #4e0166, 0 0 10px #4e0166, 0 0 12px #4e0166, 0 0 14px #4e0166, 0 0 16px #4e0166;
  }
}

#footer {
  /* gradiet Varaiable */
  --gradient: linear-gradient(45deg, #000000, #333333, #555555, #777777, #999999, #bbbbbb, #dddddd, #ffffff, #000000);
  background-image:var(--gradient);
  background-size: 600%;
  background-position: left;
  animation: grad-bg 40s infinite alternate;
}

footer span:nth-of-type(2){
  font-family: 'Raleway Dots', cursive;
  font-size: 80px;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
      text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
  }
  20%,
  24%,
  55% {
      text-shadow: none;
  }
}

.flex-container > section {
  flex-wrap: nowrap;
  width: 100%;
  margin: 10px;
  text-align: center;
}

img {
  height: auto;
  width: 5%;
  margin: 15px;
  opacity: 0.2;
  border-radius: 1rem 0 1rem 0;
}

img:hover {
  opacity: 1;
}